@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Cookie");
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
/* line 86, _vm-variaveis-mixins.scss */
.center-full {
  display: flex;
  align-items: center;
  justify-content: space-between; }

/* line 101, _vm-variaveis-mixins.scss */
.gap {
  margin-bottom: 25px; }

/* line 105, _vm-variaveis-mixins.scss */
.gap-big {
  margin-bottom: 50px; }

/* line 112, _vm-variaveis-mixins.scss */
.box-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

/* line 119, _vm-variaveis-mixins.scss */
.box-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 129, _vm-variaveis-mixins.scss */
.breadcrumbs {
  margin: 0;
  padding: 1rem 0; }
  /* line 133, _vm-variaveis-mixins.scss */
  .breadcrumbs li {
    font-size: 1rem;
    text-transform: none; }

/* line 12, _tipografias.scss */
.no-text {
  font-size: 0;
  margin: 0;
  padding: 0; }

/* line 20, _tipografias.scss */
a {
  text-decoration: none;
  color: #82a5d6;
  font-family: 'Raleway', sans-serif !important; }

/* line 29, _tipografias.scss */
h1, h2, h3, h4, h5, h6, p, label, span {
  color: #575757 !important;
  font-family: 'Raleway', sans-serif !important; }

/* line 33, _tipografias.scss */
p {
  margin: 0 !important;
  font-family: 'Raleway', sans-serif !important; }

/* line 37, _tipografias.scss */
.cabecalho-apresentacao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  /* line 43, _tipografias.scss */
  .cabecalho-apresentacao p {
    text-align: center;
    max-width: 780px;
    font-family: 'Cookie', cursive !important; }

/* line 49, _tipografias.scss */
.box-title {
  position: relative;
  text-align: center; }
  /* line 53, _tipografias.scss */
  .box-title:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: -moz-radial-gradient(center, ellipse cover, #fff 25%, #63c3a0 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(25%, #fff), color-stop(100%, #63c3a0));
    background: -webkit-radial-gradient(center, ellipse cover, #fff 25%, #63c3a0 100%);
    background: -ms-radial-gradient(center, ellipse cover, #fff 25%, #63c3a0 100%);
    background: radial-gradient(ellipse at center, #fff 25%, #63c3a0 100%);
    position: absolute;
    top: 50%;
    z-index: 0; }
  /* line 68, _tipografias.scss */
  .box-title p {
    position: relative;
    color: #63c3a0 !important;
    font-family: 'Cookie', cursive !important; }
  /* line 75, _tipografias.scss */
  .box-title.blue:before {
    background: -moz-radial-gradient(center, ellipse cover, #fff 25%, #82a5d6 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(25%, #fff), color-stop(100%, #82a5d6));
    background: -webkit-radial-gradient(center, ellipse cover, #fff 25%, #82a5d6 100%);
    background: -ms-radial-gradient(center, ellipse cover, #fff 25%, #82a5d6 100%);
    background: radial-gradient(ellipse at center, #fff 25%, #82a5d6 100%); }
  /* line 83, _tipografias.scss */
  .box-title.blue p {
    color: #82a5d6 !important; }

/* line 88, _tipografias.scss */
.txt {
  line-height: 1.4rem !important;
  margin-bottom: 0.5rem !important; }

/* line 92, _tipografias.scss */
.help-text {
  position: absolute;
  bottom: -20px;
  right: 10px; }
  /* line 97, _tipografias.scss */
  .help-text.danger {
    color: #c10f0f; }

/* line 104, _tipografias.scss */
.cabecalho-cta {
  text-transform: uppercase; }
  /* line 107, _tipografias.scss */
  .cabecalho-cta p:not(.subheader) {
    color: #333333; }

/* line 37, _vm-botoes.scss */
.btn-principal {
  top: -1.5px;
  width: 100%;
  position: relative;
  top: 0;
  padding: 1rem 2rem;
  border: 1px solid;
  border-radius: 3px !important;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  background-color: #63c3a0;
  border-color: #63c3a0;
  box-shadow: 0 3px 0 #308264;
  color: #FFF; }
  /* line 24, _vm-botoes.scss */
  .btn-principal:hover, .btn-principal:focus {
    background-color: #4eb992;
    border-color: #4eb992;
    box-shadow: #217355;
    color: #FFF; }
  /* line 32, _vm-botoes.scss */
  .btn-principal:active {
    top: 3px;
    box-shadow: none; }

/* line 63, _vm-botoes.scss */
.btn-secundario {
  top: -1.5px;
  width: 100%;
  position: relative;
  top: 0;
  padding: 1rem 2rem;
  border: 1px solid;
  border-radius: 3px !important;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  background-color: #82a5d6;
  border-color: #82a5d6;
  box-shadow: 0 3px 0 #4b668b;
  color: #FFF; }
  /* line 50, _vm-botoes.scss */
  .btn-secundario:hover, .btn-secundario:focus {
    background-color: #6b93cb;
    border-color: #6b93cb;
    box-shadow: #3b5981;
    color: #FFF; }
  /* line 58, _vm-botoes.scss */
  .btn-secundario:active {
    top: 3px;
    box-shadow: none; }

/* line 81, _vm-botoes.scss */
.btn-apoio {
  width: 100%;
  position: relative;
  top: 0;
  padding: 1rem 2rem;
  border: 1px solid;
  border-radius: 3px !important;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  background-color: #FFF;
  border-color: #63c3a0;
  color: #63c3a0; }
  /* line 74, _vm-botoes.scss */
  .btn-apoio:hover, .btn-apoio:focus {
    background-color: #FFF;
    border-color: #4eb992;
    color: #4eb992; }

/* line 94, _vm-botoes.scss */
.btn-neutro {
  color: #575757; }
  /* line 89, _vm-botoes.scss */
  .btn-neutro:hover, .btn-neutro:focus {
    color: #6b93cb; }

/* line 121, _vm-botoes.scss */
.btn-red {
  top: -1.5px;
  width: 100%;
  position: relative;
  top: 0;
  padding: 1rem 2rem;
  border: 1px solid;
  border-radius: 3px !important;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  background-color: #e44747;
  border-color: #e44747;
  box-shadow: 0 3px 0 #823030;
  color: #FFF; }
  /* line 108, _vm-botoes.scss */
  .btn-red:hover, .btn-red:focus {
    background-color: #e42d2d;
    border-color: #e42d2d;
    box-shadow: #e42d2d;
    color: #FFF; }
  /* line 116, _vm-botoes.scss */
  .btn-red:active {
    top: 3px;
    box-shadow: none; }

/* line 127, _vm-botoes.scss */
.pagination-previous a::before,
.pagination-previous.disabled::before {
  display: none !important; }

/* line 131, _vm-botoes.scss */
.pagination-next a:after,
.pagination-next.disabled a:after {
  display: none !important; }

/* line 1, _vm-formularios.scss */
.input-group {
  position: relative; }
  /* line 4, _vm-formularios.scss */
  .input-group .input-group-label {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
    /* line 8, _vm-formularios.scss */
    .input-group .input-group-label ~ .input-group-field {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important; }
  /* line 14, _vm-formularios.scss */
  .input-group input[type="text"],
  .input-group input[type="email"],
  .input-group input[type="password"],
  .input-group select {
    position: relative;
    padding: 0.7rem;
    background-color: #FFF;
    border-radius: 3px !important;
    outline: none;
    font-size: 0.9rem;
    color: #575757;
    height: auto; }
  /* line 28, _vm-formularios.scss */
  .input-group .label-animado {
    position: absolute;
    top: 10px;
    left: 60px;
    z-index: 1;
    width: 100%;
    padding: 0;
    font-size: 14px;
    transition: all 0.3s; }
    /* line 38, _vm-formularios.scss */
    .input-group .label-animado.up-label {
      top: -22px;
      left: 0;
      font-size: 0.75rem; }
    /* line 44, _vm-formularios.scss */
    .input-group .label-animado .obrigatorio {
      color: #c10f0f; }
  /* line 50, _vm-formularios.scss */
  .input-group input[type="checkbox"] ~ .switch-paddle {
    width: 10rem !important; }
    /* line 53, _vm-formularios.scss */
    .input-group input[type="checkbox"] ~ .switch-paddle span {
      color: #FFF !important; }
  /* line 59, _vm-formularios.scss */
  .input-group input[type="checkbox"]:checked ~ .switch-paddle {
    background: #63c3a0 !important; }
    /* line 62, _vm-formularios.scss */
    .input-group input[type="checkbox"]:checked ~ .switch-paddle:after {
      left: 7.75rem !important; }

/* line 70, _vm-formularios.scss */
#multiple_upload {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  /* line 78, _vm-formularios.scss */
  #multiple_upload .targetChange {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    opacity: 0.01;
    z-index: 1;
    cursor: pointer;
    margin: 0; }
  /* line 90, _vm-formularios.scss */
  #multiple_upload .message {
    overflow: hidden;
    padding: 0.7rem;
    background-color: #FFF;
    border-radius: 3px;
    outline: none;
    font-size: 0.9rem;
    color: #575757;
    border: 1px solid #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    font-weight: normal;
    line-height: 1.5;
    box-sizing: border-box;
    width: calc(100% - 165px);
    margin: 0 15px 0 0; }
  /* line 109, _vm-formularios.scss */
  #multiple_upload .btn {
    width: 150px;
    padding: 0.8rem 2rem; }
  /* line 114, _vm-formularios.scss */
  #multiple_upload .lista {
    width: 100%; }
    /* line 117, _vm-formularios.scss */
    #multiple_upload .lista ol {
      margin-left: 0;
      margin-bottom: 0; }
      /* line 121, _vm-formularios.scss */
      #multiple_upload .lista ol li {
        border-bottom: 1px solid #eee;
        padding: 10px;
        display: block;
        clear: left;
        margin-bottom: 2px; }

/* line 1, _vm-produtos.scss */
.grid-produtos {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -7.5px; }
  /* line 7, _vm-produtos.scss */
  .grid-produtos .produto {
    width: calc(20% - 15px);
    margin: 0 7.5px 15px; }

/* line 13, _vm-produtos.scss */
.produto {
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  background: #FFF;
  border: 1px solid #cfcfcf; }
  /* line 21, _vm-produtos.scss */
  .produto .capa img {
    width: 100%; }
  /* line 26, _vm-produtos.scss */
  .produto .box-infos {
    text-align: center;
    padding: 0 20px; }
    /* line 30, _vm-produtos.scss */
    .produto .box-infos .book-name {
      margin: 0 0 -5px !important; }
    /* line 34, _vm-produtos.scss */
    .produto .box-infos .user-name {
      font-size: 12px;
      margin: 0 0 25px !important; }
    /* line 40, _vm-produtos.scss */
    .produto .box-infos .category .lt {
      font-size: 12px;
      display: block;
      margin: 0 0 -5px !important; }
  /* line 48, _vm-produtos.scss */
  .produto .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    padding: 0 20px 20px; }
    /* line 53, _vm-produtos.scss */
    .produto .action .btn-principal {
      padding: 0.5rem 1rem;
      max-width: 150px; }

/* line 1, _vm-card-user.scss */
.user-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -7.5px; }
  /* line 5, _vm-card-user.scss */
  .user-grid .user {
    width: calc(20% - 15px);
    background: #FFF;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    margin: 0 7.5px 15px;
    border: 1px solid #cfcfcf; }
    /* line 14, _vm-card-user.scss */
    .user-grid .user .capa {
      width: 100%;
      height: 120px;
      background-size: 100%;
      margin: 0 0 55px; }
    /* line 21, _vm-card-user.scss */
    .user-grid .user .face {
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 100%;
      border: 4px solid #FFF;
      position: absolute;
      left: 50%;
      margin-left: -50px;
      top: 65px; }
    /* line 33, _vm-card-user.scss */
    .user-grid .user .infos-user {
      text-align: center;
      padding: 0 20px 20px; }
      /* line 38, _vm-card-user.scss */
      .user-grid .user .infos-user .user-identify .city {
        margin: -5px 0 0 !important; }
      /* line 43, _vm-card-user.scss */
      .user-grid .user .infos-user .user-social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-content: center; }
        /* line 47, _vm-card-user.scss */
        .user-grid .user .infos-user .user-social .item {
          margin: 0 15px; }
          /* line 50, _vm-card-user.scss */
          .user-grid .user .infos-user .user-social .item .number {
            font-weight: bold; }
          /* line 54, _vm-card-user.scss */
          .user-grid .user .infos-user .user-social .item .txt {
            font-size: 12px;
            margin: -5px 0 0 !important; }
      /* line 61, _vm-card-user.scss */
      .user-grid .user .infos-user .user-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-content: center; }
        /* line 65, _vm-card-user.scss */
        .user-grid .user .infos-user .user-action .btn-principal {
          padding: 0.5rem 1rem;
          max-width: 150px; }

/* line 1, _header.scss */
header {
  padding: 5px 0; }
  /* line 5, _header.scss */
  header .search .input-group {
    width: 100px;
    margin: 0; }
    /* line 9, _header.scss */
    header .search .input-group #select-opt-search {
      padding-right: 20px;
      margin: 0;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important; }
  /* line 17, _header.scss */
  header .search form {
    display: flex;
    align-items: center;
    justify-content: center; }
    /* line 22, _header.scss */
    header .search form .input-group {
      width: 350px;
      margin: 0; }
      /* line 26, _header.scss */
      header .search form .input-group input {
        border-radius: 0 !important;
        border-left-color: transparent; }
    /* line 32, _header.scss */
    header .search form .btn-search {
      background-image: url(../../images/icones/icon-search.png);
      max-width: 60px;
      padding: 1.3rem 0;
      font-size: 0;
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: center;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      top: -1px; }
  /* line 49, _header.scss */
  header .menu .item-menu:not(:last-child) {
    margin-right: 15px; }
  /* line 53, _header.scss */
  header .menu .item-menu .link {
    font-size: 12px; }

/* line 61, _header.scss */
.index header {
  position: fixed;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 10px 32px -15px rgba(0, 0, 0, 0.75);
  z-index: 1; }
  /* line 69, _header.scss */
  .index header .box-logo {
    padding: 0.3rem 0; }
  /* line 74, _header.scss */
  .index header .menu .item-menu {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    /* line 77, _header.scss */
    .index header .menu .item-menu .link {
      margin: 0 1rem;
      color: #575757;
      padding: 1.8rem 0;
      border-bottom: 2px solid transparent;
      transition: all 0.3s; }
      /* line 120, _tipografias.scss */
      .index header .menu .item-menu .link:hover, .index header .menu .item-menu .link:focus {
        color: #4b668b;
        border-color: #4b668b; }
      /* line 81, _header.scss */
      .index header .menu .item-menu .link.cadastro {
        top: -1.5px;
        width: 100%;
        position: relative;
        top: 0;
        padding: 1rem 2rem;
        border: 1px solid;
        border-radius: 3px !important;
        outline: none;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        display: block;
        background-color: #82a5d6;
        border-color: #82a5d6;
        box-shadow: 0 3px 0 #4b668b;
        color: #FFF; }
        /* line 50, _vm-botoes.scss */
        .index header .menu .item-menu .link.cadastro:hover, .index header .menu .item-menu .link.cadastro:focus {
          background-color: #6b93cb;
          border-color: #6b93cb;
          box-shadow: #3b5981;
          color: #FFF; }
        /* line 58, _vm-botoes.scss */
        .index header .menu .item-menu .link.cadastro:active {
          top: 3px;
          box-shadow: none; }
      /* line 85, _header.scss */
      .index header .menu .item-menu .link.entrar {
        top: -1.5px;
        width: 100%;
        position: relative;
        top: 0;
        padding: 1rem 2rem;
        border: 1px solid;
        border-radius: 3px !important;
        outline: none;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        display: block;
        background-color: #63c3a0;
        border-color: #63c3a0;
        box-shadow: 0 3px 0 #308264;
        color: #FFF; }
        /* line 24, _vm-botoes.scss */
        .index header .menu .item-menu .link.entrar:hover, .index header .menu .item-menu .link.entrar:focus {
          background-color: #4eb992;
          border-color: #4eb992;
          box-shadow: #217355;
          color: #FFF; }
        /* line 32, _vm-botoes.scss */
        .index header .menu .item-menu .link.entrar:active {
          top: 3px;
          box-shadow: none; }
  /* line 92, _header.scss */
  .index header .top-bar-right {
    margin: 0 -1rem; }

/* line 1, _footer.scss */
footer {
  background: #333333; }
  /* line 4, _footer.scss */
  footer .copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 0; }
    /* line 8, _footer.scss */
    footer .copyright .txt-copyright {
      margin: 0;
      color: #FFF;
      font-size: 0.8rem; }
    /* line 14, _footer.scss */
    footer .copyright .box-sociais {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      /* line 17, _footer.scss */
      footer .copyright .box-sociais .item {
        margin: 0 0.5rem;
        height: 30px;
        overflow: hidden; }
        /* line 23, _footer.scss */
        footer .copyright .box-sociais .item a img {
          position: relative;
          top: 5px;
          transition: all 0.3s; }
        /* line 30, _footer.scss */
        footer .copyright .box-sociais .item a:hover img {
          top: -26px; }

/* line 3, homepage.scss */
.bg-full {
  width: 100%;
  height: 100vh;
  background-image: url(../../images/homepage/banner-apresentacao.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  /* line 12, homepage.scss */
  .bg-full .grid-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    flex-direction: column; }
    /* line 16, homepage.scss */
    .bg-full .grid-container .box-categorias {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 -5px; }
      /* line 21, homepage.scss */
      .bg-full .grid-container .box-categorias .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(20% - 10px);
        height: 150px;
        margin: 5px; }
        /* line 27, homepage.scss */
        .bg-full .grid-container .box-categorias .item a {
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.7);
          border: 1px solid #FFF;
          border-radius: 3px;
          padding: 5px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: space-between;
          justify-content: center;
          flex-direction: column;
          transition: all 0.3s; }
          /* line 38, homepage.scss */
          .bg-full .grid-container .box-categorias .item a p {
            margin: 5px 0 0; }
          /* line 42, homepage.scss */
          .bg-full .grid-container .box-categorias .item a:hover {
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.75); }
    /* line 50, homepage.scss */
    .bg-full .grid-container .box-cta {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 50px 0 -45px; }
      /* line 54, homepage.scss */
      .bg-full .grid-container .box-cta .btn-cta {
        display: block;
        top: -1.5px;
        width: 100%;
        position: relative;
        top: 0;
        padding: 1rem 2rem;
        border: 1px solid;
        border-radius: 3px !important;
        outline: none;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        display: block;
        background-color: #63c3a0;
        border-color: #63c3a0;
        box-shadow: 0 3px 0 #308264;
        color: #FFF; }
        /* line 24, _vm-botoes.scss */
        .bg-full .grid-container .box-cta .btn-cta:hover, .bg-full .grid-container .box-cta .btn-cta:focus {
          background-color: #4eb992;
          border-color: #4eb992;
          box-shadow: #217355;
          color: #FFF; }
        /* line 32, _vm-botoes.scss */
        .bg-full .grid-container .box-cta .btn-cta:active {
          top: 3px;
          box-shadow: none; }

/* line 65, homepage.scss */
.apresentacao-user .apresentacao {
  display: flex;
  align-items: stretch;
  justify-content: space-between; }
  /* line 70, homepage.scss */
  .apresentacao-user .apresentacao .item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 33.33%;
    margin: 15px;
    padding: 15px;
    border-radius: 3px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#63c3a0), to(#82a5d6));
    background-image: -webkit-linear-gradient(#63c3a0, #82a5d6);
    background-image: -moz-linear-gradient(#63c3a0, #82a5d6), -moz-linear-gradient(#63c3a0, #82a5d6);
    background-image: -o-linear-gradient(#63c3a0, #82a5d6), -o-linear-gradient(#63c3a0, #82a5d6);
    background-image: linear-gradient(#63c3a0, #82a5d6), linear-gradient(#63c3a0, #82a5d6);
    -moz-background-size: 3px 100%;
    background-repeat: no-repeat; }
    /* line 99, homepage.scss */
    .apresentacao-user .apresentacao .item .icon {
      background: #FFF;
      border: 1px solid #82a5d6;
      border-radius: 100%;
      margin: 0 0 15px;
      padding: 15px;
      width: 150px;
      height: 150px; }
    /* line 109, homepage.scss */
    .apresentacao-user .apresentacao .item .conteudo {
      display: flex;
      align-items: center;
      flex-direction: column; }
      /* line 114, homepage.scss */
      .apresentacao-user .apresentacao .item .conteudo .h4 {
        max-width: 280px;
        margin: 0 0 15px !important;
        color: #FFF !important;
        font-family: 'Cookie', cursive !important; }
      /* line 121, homepage.scss */
      .apresentacao-user .apresentacao .item .conteudo .txt {
        max-width: 290px;
        color: #FFF !important;
        font-family: 'Cookie', cursive !important; }
    /* line 131, homepage.scss */
    .apresentacao-user .apresentacao .item:hover .icon img {
      -webkit-animation: swing 1s ease;
      animation: swing 1s ease;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1; }
/* line 139, homepage.scss */
.apresentacao-user .action {
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 144, homepage.scss */
  .apresentacao-user .action .button {
    display: block;
    max-width: 300px; }

/* line 152, homepage.scss */
.planos {
  padding: 50px 0;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#63c3a0), to(#82a5d6));
  background-image: -webkit-linear-gradient(#63c3a0, #82a5d6);
  background-image: -moz-linear-gradient(#63c3a0, #82a5d6), -moz-linear-gradient(#63c3a0, #82a5d6);
  background-image: -o-linear-gradient(#63c3a0, #82a5d6), -o-linear-gradient(#63c3a0, #82a5d6);
  background-image: linear-gradient(#63c3a0, #82a5d6), linear-gradient(#63c3a0, #82a5d6);
  -moz-background-size: 3px 100%;
  background-repeat: no-repeat; }
  /* line 171, homepage.scss */
  .planos .cabecalho-apresentacao p {
    color: #FFF !important; }
  /* line 176, homepage.scss */
  .planos .tipos-planos {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    /* line 181, homepage.scss */
    .planos .tipos-planos .item {
      float: left;
      padding: 15px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 6px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
      text-align: center;
      margin: 0 15px;
      transition: all 0.3s; }
      /* line 192, homepage.scss */
      .planos .tipos-planos .item h3 {
        font-size: 38px;
        color: #000000;
        text-align: center;
        font-weight: 300;
        text-transform: capitalize;
        margin: 0; }
      /* line 201, homepage.scss */
      .planos .tipos-planos .item .box-preco {
        height: 80px;
        color: #000000;
        text-align: center;
        font-weight: 300;
        line-height: 50px;
        margin: 15px 0 0; }
        /* line 209, homepage.scss */
        .planos .tipos-planos .item .box-preco .txt-moeda {
          font-size: 38px; }
        /* line 213, homepage.scss */
        .planos .tipos-planos .item .box-preco .preco {
          height: 80px;
          font-size: 65px; }
          /* line 217, homepage.scss */
          .planos .tipos-planos .item .box-preco .preco .preco-lt {
            font-size: 38px; }
        /* line 222, homepage.scss */
        .planos .tipos-planos .item .box-preco .txt-recorrencia {
          font-weight: 100;
          font-size: 14px; }
        /* line 227, homepage.scss */
        .planos .tipos-planos .item .box-preco .txt-preco-cheio {
          display: block;
          font-weight: 100;
          font-size: 16px;
          line-height: 20px;
          margin: -10px 0 0; }
      /* line 236, homepage.scss */
      .planos .tipos-planos .item .item-vantagem {
        border-bottom: 1px solid #ccc;
        padding: 12px 0;
        font-size: 14px;
        text-align: center;
        margin: 0;
        font-weight: 300; }
        /* line 244, homepage.scss */
        .planos .tipos-planos .item .item-vantagem .destaque {
          color: #e72938; }
        /* line 248, homepage.scss */
        .planos .tipos-planos .item .item-vantagem img {
          display: inline-block; }
        /* line 252, homepage.scss */
        .planos .tipos-planos .item .item-vantagem:last-child {
          border-bottom: 0; }
        /* line 256, homepage.scss */
        .planos .tipos-planos .item .item-vantagem.desativado {
          text-decoration: line-through; }
      /* line 262, homepage.scss */
      .planos .tipos-planos .item .box-pgmt .formas-pagamento {
        text-align: center; }
        /* line 265, homepage.scss */
        .planos .tipos-planos .item .box-pgmt .formas-pagamento span {
          display: block; }
        /* line 269, homepage.scss */
        .planos .tipos-planos .item .box-pgmt .formas-pagamento img {
          display: inline-block;
          width: 70px;
          margin: 0 15px; }
      /* line 277, homepage.scss */
      .planos .tipos-planos .item:hover {
        border-color: #000; }
