@import "_custom.scss";

#pagina-livro {
	background-image: url(../../images/content/background-pagina-livro.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.box-geral {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		background: rgba(255,255,255,0.7);
		padding: 15px;
		border: 1px solid #cfcfcf;
		width: 100%;;

		.capa {
			width: 25%;
			padding: 0 15px;
			margin: 12px 0 0;

			img {
				width: 100%;
				display: block;
				margin: 0 auto;
			}
		}

		.infos {
			width: 75%;
			padding: 0 15px;

			.box-infos {
				@include center-full;
			}

			.autor {
				margin-top: -15px !important;
			}

			#form-avaliacoes {
				position: relative;
				padding: 40px 0 0;
				margin: 0 0 25px;
				max-width: 200px;

				label {
					display: inline-block;
					margin: 0;
					vertical-align: middle;
					font-weight: 400;
     				top: 5px;

					&:before {
						/* content: "\f005"; */
					    font-family: Font Awesome\ 5 Free;
					    color: #575757;
					    @include transition;
					    font-size: 22px;
					    height: 22px;
					    letter-spacing: 4px;
					    line-height: 22px;
					    font-style: normal;
					    font-weight: normal;
					    speak: none;
					    vertical-align: top;
					    -webkit-font-smoothing: antialiased;
					    opacity: 1;
					}

					&.avaliacao1 {
						cursor: pointer;
						z-index: 6;
						position: absolute;

						&:before {
							content: "\f005";
						}
					}
					&.avaliacao2 {
						cursor: pointer;
						z-index: 5;
						position: absolute;

						&:before {
							content: "\f005" "\f005";
						}
					}
					&.avaliacao3 {
						cursor: pointer;
						z-index: 4;
						position: absolute;

						&:before {
							content: "\f005" "\f005" "\f005";
						}
					}
					&.avaliacao4 {
						cursor: pointer;
						z-index: 3;
						position: absolute;

						&:before {
							content: "\f005" "\f005" "\f005" "\f005";
						}
					}
					&.avaliacao5 {
						cursor: pointer;
						z-index: 2;
						position: absolute;

						&:before {
							content: "\f005" "\f005" "\f005" "\f005" "\f005";
						}
					}

					span {
						border: 0;
						clip: rect(0, 0, 0, 0);
						height: 1px;
						margin: -1px;
						overflow: hidden;
						padding: 0;
						position: absolute;
						width: 1px;
					}
				}

				&:hover {
					label {
						&:before {
							opacity: 0;
						}
					}
				}

				input {
					&[type="radio"] {
						display: inline-block;
						margin: 0;
						vertical-align: middle;
						font-weight: 400;
						border: 0;
						clip: rect(0, 0, 0, 0);
						height: 1px;
						margin: -1px;
						overflow: hidden;
						padding: 0;
						position: absolute;
						width: 1px;
					}

					&:checked {
						+ label {
							&:before {
								color: $cor-principal;
								opacity: 1;
							}
						}
					}

					&:hover {
						+ label {
							&:before {
								color: $cor-principal;
								opacity: 1;								
							}
						}
					}

					&[type="submit"] {
						@include btn-principal;
						padding: 0.7rem;
						font-size: 12px;
					}
				}
			}

			.btn-previa {
				margin: 0 0 0 10px;
			}

			.box-action {
				max-width: 350px;

				.btn-comprar {
					margin: 0 0 15px;
				}
			}
		}
	}

	.box-mais-autor {
		width: 100%;
		background: rgba(255,255,255,0.7);
		border: 1px solid #cfcfcf;
		padding: 15px;
	}
}